@font-face {
    font-family: 'Header';
    src: url(../12905.otf);
}

@font-face {
    font-family: Comfortaa;
    src: url(../Comfortaa-Regular.ttf);
}

@font-face {
    font-family: Consolas;
    src: url(../CONSOLA.TTF);
}